<ul>
  <li>Two blocks west of City Hall.</li>
  <li>Municipal Court entrance is on west side of the building.</li>
  <li>Metered parking available in front of the building on Market or Kiel Center garage on Clark.</li>
</ul>