<ol>
  <li>Dress conservatively and, when appropriate, wear good quality clothing. If you own a suit, wear it, if not your Sunday best is always a safe bet.</li>
  <li>Avoid wearing loud colors or all black.</li>
  <li>Do not wear tinted or dark colored glasses in the courtroom. Judges or bailiffs will ask you to remove them even if you have them on the top of your head.</li>
  <li>Jerseys or other sports apparel should also be avoided.</li>
  <li>Never wear any shirts with vulgar or profane text on it. The courtroom is not the place to make those statements.</li>
  <li>Make an effort to conceal any visible tattoos.</li>
  <li>Take the loose change out of your pockets. The temptation to fiddle around with it while you are in front of the judge may difficult to overcome.</li>
</ol>