<footer class="footer">
  <div class="container text-center">
    <h3>Improving how citizens navigate the municipal court system</h3>
    <p>&copy; <%= Time.now.year %> by BeesBeesBees for <a href="#" target="_blank">GlobalHack V</a> Sept 11-13, 2015</p>
  </div>
</footer>