<%#=================
  #
  # Used when the Citations.count is less than 1
  #
  #===============%>
<h2 class="gray">Sorry, we didn't find any citations based on that information.</h2>
<span class="help-block">But maybe that's a good thing!</span>
<h3>We're here to help you find what you need.</h3>
<ul class="list-group">
	<li class="list-group-item">
		<h4>St. Louis Parking Violations Bureau</h4>
		<p>Please contact the Parking Violations Bureau with questions concerning Parking Tickets issued by the City of Saint Louis.</p>
		<p><strong>Call Customer Service Representatives at</strong>:<br><a href="tel:13144502830">(314) 450-2830</a> or <a href="tel:18006113009">(800) 611-3009</a><br>7:30 am to 6:00 pm Monday through Friday</p>
		<p><strong>Inquire in person at</strong>:<br><a href="https://goo.gl/maps/OXRyn" target="_blank">229 North 7th Street (between Olive and Pine Streets) St. Louis, MO 63101</a> during the hours of 7:30 am to 6:00 pm Monday through Friday.
		</p>
		<a href="https://goo.gl/maps/OXRyn" target="_blank" class="btn btn-primary">Get Map</a>
	</li>
	<li class="list-group-item">
		<h4>Start a New Search</h4>
		<p>Data entry errors are possible any where in the citation process. If your name is commonly misspelled or notated in error, try searching again with that in mind.</p>
		<a href="/sessions/new" class="btn btn-primary">Start a New Search</a>
	</li>
	<li class="list-group-item">
		<h4>Visit <strong>Circuit Courts of Missouri</strong> Website</h4>
		<p>Missouri circuit courts are courts of original civil and criminal jurisdiction. That is, cases usually begin in the circuit court, which is where trials may occur. Within the circuit court, there are various divisions, such as associate circuit, small claims, municipal, family, probate, criminal and juvenile.</p>
		<p>Missouri's counties and the city of St. Louis are organized into 45 judicial circuits. There is a court in every county. The circuit court is typically in the county seat (or the city of St. Louis) and may be in additional locations in the county.</p>
		<p>For court-specific information, click on the county in the map or select the county/city name from the full list below.</p>
		<a href="http://www.courts.mo.gov/page.jsp?id=321" target="_blank" class="btn btn-primary">Search by Circuit Court</a>
	</li>
	<li class="list-group-item">
		<h4>Visit <strong>Missouri DMV FAQ</strong> Website</h4>
		<p>Still have questions?</p>
		<a href="http://www.dmv.org/mo-missouri/traffic-ticket-faq.php" target="_blank" class="btn btn-primary">Read FAQs</a>
	</li>
</ul> <!-- .list-group