
<div id="icons" class="container">
  <h2 class="text-center underline">Changing How The Courts Help You</h2>
  <div class="row">
    <div class="col-sm-4 single-icon underline">
      <%= icon('search', '', id: 'lookup', class: 'fa-5x green underline') %>
      <h3>Look Up Your Citation</h3>
      <p>Two ghostly white figures in coveralls and helmets are soflty dancing the only home we've ever known Sea of Tranquility culture! Of brilliant syntheses muse about, permanence of the stars Jean-François Champollion</p>
    </div>
    <div class="col-sm-4 single-icon underline">
      <%= icon('calendar', '', id: 'get-court-date', class: 'fa-5x green underline') %>
      <h3>Get Court Date</h3>
      <p>Two ghostly white figures in coveralls and helmets are soflty dancing the only home we've ever known Sea of Tranquility culture! Of brilliant syntheses muse about, permanence of the stars Jean-François Champollion</p>
    </div>
    <div class="col-sm-4 single-icon underline">
      <%= icon('usd', '', id: 'pay-online', class: 'fa-5x green underline') %>
      <h3>Pay Online</h3>
      <p>Two ghostly white figures in coveralls and helmets are soflty dancing the only home we've ever known Sea of Tranquility culture! Of brilliant syntheses muse about, permanence of the stars Jean-François Champollion</p>
    </div>
  </div>
</div> <!-- #icons -->