
<div id="icons" class="container">
  <h2 class="text-center underline">The court system is confusing. Let us <span class="green">clear</span> it up for you.</h2>
  <div class="row">
    <div class="col-sm-4 single-icon underline">
      <%= icon('search', '', id: 'lookup', class: 'fa-5x green underline') %>
      <h3>Look Up Your Citation</h3>
      <p>Using just things you have in your head (name, date-of-birth, etc.). It's okay if you lost your citation.</p>
    </div>
    <div class="col-sm-4 single-icon underline">
      <%= icon('calendar', '', id: 'get-court-date', class: 'fa-5x green underline') %>
      <h3>Get Court Date</h3>
      <p>Such as court dress codes, your rights as a defendant, hours of operation, directions to court house, and court clerk contact info</p>
    </div>
    <div class="col-sm-4 single-icon underline">
      <%= icon('usd', '', id: 'pay-online', class: 'fa-5x green underline') %>
      <h3>Pay Online</h3>
      <p>Secure online Payments along with detailed instructions for phone, in-person and mail-in</p>
    </div>
  </div>
</div> <!-- #icons -->