<h3>You have the following rights in court</h3>
<ol>
  <li>You have a right to be informed as to the nature of the charge against you and the minimum and maximum punishment for the charge.</li>
  <li>You have the right to be represented by an attorney and an attorney may be appointed for you if you are indigent (unable to afford an attorney) and it appears that there would possibly be a jail sentence upon conviction.</li>
  <li>You have a right to have a trial, including a trial by jury.</li>
  <li>At trial, you have the right to question any witness who may testify against you.</li>
  <li>You have the right to subpoena persons to testify on your behalf at your trial (a subpoena is an order from the court to a witness that they must appear at the trial).</li>
  <li>You have the right to testify at your trial but neither the city nor anyone else can force you to testify.</li>
  <li>If you had a trial and were found guilty you have a right to appeal that decision to another court.</li>
</ol>