<%= render "shared/header" %>
<div class="masthead">
  <div class="container">
    <h2 class="white text-center">Get Informed About Your [Buzzword]</h2>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 white text-center">
        <p class="sans-serif">Two ghostly white figures in coveralls and helmets are soflty dancing the only home we've ever known Sea of Tranquility culture! Of brilliant syntheses muse about, permanence of the stars Jean-François Champollion intelligent beings billions upon billions rich in mystery Sea of Tranquility
        </p>
        <p class="sans-serif">From which we spring hearts of the stars the ash of stellar alchemy, prime number a still more glorious dawn awaits. Galaxies? With pretty stories for which there's little good evidence tingling of the spine. Trillion prime number. Courage of our questions ship of the imagination rich in mystery, Orion's sword Sea of Tranquility. Not a sunrise but a galaxyrise?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <%= link_to "Give it a Try", new_session_path, id: "get-started", class: "btn btn-primary btn-block btn-md white-border" %>
      </div>
    </div>
  </div>
</div> <!-- .masthead -->

<%= render "shared/icons" %>

<div id="banner" class="about">
  <div class="overlay"></div> <!-- .overlay -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="gray">Origin Story</h2>
        <p><span class="gray-light">Clear</span><span class="green">Courts</span> is the result of GlobalHack V which took place September 11-13, 2015 in St. Louis, MO. In it's first civic challenge, GlobalHack presented pain points felt when citizens begin to navigate their legal concerns. 
        </p>
        <p>From which we spring hearts of the stars the ash of stellar alchemy, prime number a still more glorious dawn awaits. Galaxies? With pretty stories for which there's little good evidence tingling of the spine. Trillion prime number. Courage of our questions ship of the imagination rich in mystery, Orion's sword Sea of Tranquility. Not a sunrise but a galaxyrise?
        </p>
      </div>
    </div>
  </div>
</div> <!-- #origin -->