<%= render "shared/header" %>
<div class="container">
  <h1 class="gray text-center">We have an API, y'all.</h1>
  <section class="api-section">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <pre>
          #OMG Header
          &lt;%= ruby ruby ruby %&gt;
          Doing all sorts of cool stuff.
        </pre>
      </div>
    </div>
  </section> <!-- .api-section -->
</div>