<%= render "shared/header" %>
<div class="container">
  <h2>Great, thanks.</h2><h3>We've found <span class="green"><%#= XX %>XX citations</span>:</h3>
  <section class="citations-group">
    <div class="list-group">
      <a href="<%#= link_to citation %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%#= citation_number %>citation_number</h4>
        <span class="help-block"><%#= citation_date  %>citation_date</span>
          <h5>Violations:</h5>
        <ul>
          <li><%#= violation_description %>violation_description</li>
          <li><%#= violation_description %>violation_description</li>
        </ul>
        <div class="btn btn-primary pull-right">More Info</div>
        <div class="clearfix"></div>
      </a>
      <a href="<%#= link_to citation %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%#= citation_number %>citation_number</h4>
        <span class="help-block"><%#= citation_date  %>citation_date</span>
          <h5>Violations:</h5>
        <ul>
          <li><%#= violation_description %>violation_description</li>
          <li><%#= violation_description %>violation_description</li>
        </ul>
        <div class="btn btn-primary pull-right">More Info</div>
        <div class="clearfix"></div>
      </a>
      <a href="<%#= link_to citation %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%#= citation_number %>citation_number</h4>
        <span class="help-block"><%#= citation_date  %>citation_date</span>
          <h5>Violations:</h5>
        <ul>
          <li><%#= violation_description %>violation_description</li>
          <li><%#= violation_description %>violation_description</li>
        </ul>
        <div class="btn btn-primary pull-right">More Info</div>
        <div class="clearfix"></div>
      </a>
    </div>
  </section>
</div>