<%= render "shared/header" %>
<div id="content">
<div class="container">
  <h2 class="gray"><span class="green">Volunteer</span> to work off your court costs</h2>
  <p>Municipal courts are required to allow individuals to set up payment plans or do community service to settle their fines and fees.</p>
  <p>Call the country clerk here to ask for assistance: (314) 561-2476</p>
  <%= link_to "Back to Citation", :back, class: "btn btn-primary btn-lg" %>
</div>
</div> <!-- #content -->
