//== Typography
//

//## Body

body {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Body Content */

#content {
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #content {
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

//## H1
h1, .h1 {
  font-family: $headings-font-family !important;
  font-size: 2.2em;
  line-height: 1.15em;
}


//## H2
h2, .h2 {
  font-family: $headings-font-family !important;
  font-size: 1.7em;
  line-height: 1.15em;
}


//## H3
h3, .h3 {
  font-family: $headings-font-family !important;
  margin-top: 30px;
  font-size: 1.5em;
  line-height: 1.15em;
}


//## H4
h4, .h4 {
  margin-top: 30px;
  font-size: 1.3em;
  line-height: 1.11em;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-family: $font-family-serif;
  font-size: $font-size-small;

  @media (min-width: $screen-md) {
    font-size: $font-size-base;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-large;
  }

  &.lead {
    font-size: 1.2em;

    @media (min-width: $screen-sm) {
      font-size: $font-size-base;
    }

    @media (min-width: $screen-md) {
      font-size: $font-size-large;
    }

    @media (min-width: $screen-lg) {
      font-size: $font-size-xl;
    }

  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

blockquote {    
  background-color: transparent;    
  border-left: none;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; 
  margin: 30px 10px;    
  padding: 0.5em 10px;    
  quotes: "\201C""\201D""\2018""\2019";   
  color: $brand-primary;     
  text-align: center;    
  font-family: $font-family-sans-serif;


  p {
    font-size: 1.2em;   
    line-height: 1.3em;
    &.attribution {
      font-size: 0.6em;
      margin-top: 5px;
      color: $brand-warning;
    }   
  }

  @media (min-width: $screen-sm) {
    margin: 40px -60px;
    font-size: $font-size-large;
  }

  @media (min-width: $screen-md) {    
    font-size: $font-size-xl;
  }   
}
